#header {
    display: flex;
    width: 100%;
    height: 500px;
    color: #fff;
    text-align: center;
    align-items: center;
  }
  #header #particle-canvas {
    position: absolute !important;
    width: 100%;
    height: 1000px;
    z-index: 0;
  }
  #header .container {
    z-index: 1;
    width: 100%;
  }
  #header .container > * {
    margin: 0
  }
  #header .container > * + * {
    margin-top: 10px
  }
  #header h1 {
    font-size: 40px }
  #header p {
    font-size: 20px
  }
  #header button {
      background-color: #aa55db; /* Green */
      border: none;
      color: white;
      padding: 12px 28epx;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  
    .myCanvas {
        /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    }

    .creds {
        float: left;
        font-size: 15px;
        z-index: 1;
        position: absolute;
        top: 0;
    }